
.btn-sq-xs {
  width: 20px ;
  height: 20px;
  padding:2px;
}
.suqer{
  display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    }
.text-red {
  color: #fc2d2d;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffffff;
  text-decoration: underline;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #073c2f;
}
.navbar-static-top {
   position:static ;
   z-index:-1;
   margin-top: -51px;
   border-color: #FAFAFA;}
   .imglogo {
	width: 173px;
	height:50px;
	background: #FAFAFA !important;
    background-size: 100% !important;   
 }
   .img2 {
	   
	   height: 110px;
	   
   }
  .navbar-header {
  height: 51px;
  
  } 
.navbar-default {
  background-color: #0c8063;
 
}
.nav {
  background-color: #0c8063;
 
}
.slide {
  background-color: #0c8063;
 
}
.navbar-default .navbar-brand {
  color: #daecf0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #daecf0;
}
.navbar-default .navbar-nav > li > a {
  color: #daecf0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #0c8063;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #daecf0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #073c2f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #073c2f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus ,
.sidebar ul li a.active {
  color: #ffffff;
  background-color: #073c2f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #073c2f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #073c2f;
}
.navbar-default .navbar-toggle {
  border-color: #073c2f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #073c2f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #daecf0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #daecf0;
}
.navbar-default .navbar-link {
  color: #daecf0;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #daecf0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #073c2f;
  }
}
@media screen and (min-width: 768px)  {

 .imglogo {
	width: 249px;
	
 }

 
 .img1 {
	 
	 margin-right: 40px;
 }
 
 .img2 {
	 
	 margin-right: 40px; 
	 
 }
 
 
}


@media screen and (max-width: 356px)  {
	
	
	
.img2 {
	 
	height: 80px;
	 
 }	
	
}



@media screen and (max-width: 306px)  {
	
	
	
.img2 {
	 
	height: 60px;
	 
 }	
	
}

@media screen and (max-width: 273px)  {
	
	
	
.img2 {
	 
  display: none; 
	 
 }	
	
}


