* {
font-family: 'Cairo', sans-serif;
}



.navbar-default {
background-color: #0c8063;
   height: 50px;
   position:static ;
  
   margin-top: -51px;
   border-color: #fff;
}



.navbar-default .imglogo {
	
	width: 173px;
	height:50px;
	 border-color: #fff;
	background: #fff !important;
    background-size: 100% !important; 
    
 }
 .img2 {
	
margin-right:17px;
margin-top:-45px; 
	 
 }
.navbar-default .navbar-brand {
  color: #daecf0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #daecf0;
}
.navbar-default .navbar-nav > li > a {
  color: #daecf0;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #0c8063;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #daecf0;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background-color: #073c2f;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #073c2f;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #073c2f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #073c2f;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #073c2f;
}
.navbar-default .navbar-toggle {
  border-color: #073c2f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #073c2f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #daecf0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #daecf0;
}
.navbar-default .navbar-link {
  color: #daecf0;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #daecf0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #073c2f;
  }

}

@media screen and (min-width: 768px)  {
 

.navbar-default .imglogo {
	margin-right: 89px;
    
 }
 
.img1{
	
	margin-right: 103px;
}
.img2 {
margin-right:17px;
margin-top:-45px;
}

}


@media screen and (max-width: 356px)  {
	
	
	
.img2 {
	 
	height: 70px;
	 
 }	
	
}



@media screen and (max-width: 306px)  {
	
	
	
.img2 {
	 
	height: 60px;
	 
 }		
	
}

@media screen and (max-width: 290px)  {
	
	
	
.img2 {
	 
  display: none; 
	 
 }	
	
}


